{{~#if bidirectional~}}
| [< {{prevText}}]({{prevRef}}) | [{{nextText}} >]({{nextRef}}) |
|:--------------------------------|--------------------------------:|
{{~else if nextOnly~}}
| [{{text}} >]({{ref}}) |
|----------------------:|
{{~else if prevOnly~}}
| [< {{text}}]({{ref}}) |
|:----------------------|
{{~/if~}}